# Ignore the vendor directory
/vendor/
/reports/

# Ignore environment files
.env
.env.*

# Ignore Composer lock file
composer.lock

# Ignore common system files
.DS_Store
Thumbs.db

# Ignore IDE configuration files
.idea/
.vscode/

# Ignore backup files
*.bak
*.tmp
*.swp

# Ignore log files
*.log

# Ignore PHPStorm project files
*.iml
